<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<title>DrgAndDrp</title>
<base href="/"></base>

<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<link rel="icon" type="image/x-icon" href="favicon.ico"></link>
</head>
<body>
	<app-root></app-root>
	<script type="text/javascript" src="polyfills.a2433001a4623ca31b00.js"></script>
	<script type="text/javascript" src="app.a2433001a4623ca31b00.js"></script>
</body>
</html>
